<div class="footer1" style='background-color:#171C21; height: 202px;'>
    <div class="container">
      <div class="strtr" style="text-align:center;font-family: 'Montserrat', sans-serif;font-style: normal;position: relative; font-weight: 600;font-size: 30px;line-height: 48px;color: #FFFFFF; margin-top: 60px;"></div>
          <div class="row" style='display: flex;'>
<div class="SSSS" style='margin-top: 40px; margin-left: 215px;font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* or 139% */


color: #FFFFFF;
;'>About Us<br>
<div class="niz" style='font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* or 186% */
margin-top:10px ;

color: #FFFFFF;

opacity: 0.8;'>
  
About us<br>
Careers<br>
Business Contacts<br>
</div>
</div>

          </div>
        </div>
      </div>
      