{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <button class='light reg'> Download</button>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Trade
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Buy cryptocurrency
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <a class="navbar-brand" href="#">
                <img src="{% static 'img/logo.jpg' %}" alt="" width="49" height="47" class="d-inline-block align-text-center">
                BUTNUTE
              </a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Derivatives
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Market
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="#">NFT</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
<div class="clientp">
    <div class="container">
    <div class="ddd" style="position: relative; margin-top: 45px;">
        <img class="grad"   src="{% static 'img/backclient.png' %}">
        <img src="{% static 'img/btcc.png' %}" style="position: absolute; top: 0;" alt=""></div>
        <div class="welcom" style="position: absolute; top: 170px; margin-left: 80px;font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 48px;
        /* or 161% */
        
        
        color: #FFFFFF;">Welcome to Butnute
                <div class="thanks" style="font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 36px;
                /* or 201% */
                
                
                color: #FFFFFF;
                
                opacity: 0.5;">Thank you for choosing us.
                    <br>  Here you can start trading from 1 $</div>
                <button class='btn' style="background: #F7931A;
                border-radius: 150px;width: 215px;height: 62px;margin-top: 19px;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 15px;line-height: 22px;color: #FFFFFF;">Verify account</button></div>
     <div class="row" style="margin-top: 26px;">
        <div class="col-sm-6">
          <div class="card" style="width: 833px;
          height: 384px;">
            <div class="card-body">
              <div class="card-title"><b style="margin-left: 84px; font-family: Montserrat;font-style: normal;
                font-weight: 600;font-size: 16px; ">
                Balance Details</b>
                
                <div class="btn" style='width: 119px;
                height: 42px;
                margin-left: 302px;
                background: #F7931A;
                border-radius: 62px;font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 29px;
/* or 402% */

text-align: center;
color: #FFFFFF;

'>Deposit</div>
                 <div class="btn" style="width: 133px;
                 height: 42px;
                 
                 border: 2px solid #F7931A;
                 box-sizing: border-box;
                 border-radius: 62px;font-family: Montserrat;
font-style: normal;

font-size: 12px;
line-height: 28px;
/* or 402% */
text-align: center;

color: #F7931A;

">Withdraw</div>
<img src="{% static 'img/vct.png' %}" alt="" class='vct'style=''>
<div class="card" style="width: 18rem; margin-top:-160px ; margin-left:80px">
  <div class="card-body">
    <h5 class="card-title">Acount balance</h5>
    <p class="card-text" style='font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* or 371% */
    
    
    color: #000000;
    line-height: 23px;
    '>
      0.00000000 Btc<br>
      0.00000000 Bnb<br>
      0.00000000 Eth<br>
      0.00000000 Btc<br>
      0.00000000 Bhc<br>
      0.00000000 Utc<br>
    </p>
  </div>
</div>
              </div>
             
             
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card"  style="width: 509px;
          height: 265px; margin-left: 198px;">
            <div class="card-body">
              <h5 class="card-title" style='font-family: Montserrat;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 48px;
              /* or 268% */
              margin-left: 60px;
              
              color: #000000;
              '>Activity
              </h5>
              <p class="card-text">
                <div class="formd" style='margin-left: 63px;'>
                  <div class="lin1" style='display:flex'><div class="sposob" >Web</div><div class="ipf" style='margin-left: 200px;'>45.142.28.81</div></div>
                 <div class="lin2" style='display:flex'> <div class="position" style='
                  font-family: Montserrat;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 48px;
                  /* or 483% */
                  
                  
                  color: #000000;
                  
                '>Moscow, Russian Federation</div><div class="dataf" style='margin-left: 65px;font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 48px;
/* or 483% */


color: #000000;

'>2021-07-04 16:48:34</div></div>
                </div>
                <div class="formd" style='margin-left: 63px;'>
                  <div class="lin1" style='display:flex'><div class="sposob" >Web</div><div class="ipf" style='margin-left: 200px;'>45.142.28.81</div></div>
                 <div class="lin2" style='display:flex'> <div class="position" style='
                  font-family: Montserrat;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 48px;
                  /* or 483% */
                  
                  
                  color: #000000;
                  
                '>Moscow, Russian Federation</div><div class="dataf" style='margin-left: 65px;font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 48px;
/* or 483% */


color: #000000;

'>2021-07-04 16:48:34</div></div>
                </div>
              </p>
              
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 26px;">
        <div class="col-sm-6">
          <div class="card"  style="width: 833px;
          height: 370px; ">
            <div class="card-body">
              <h5 class="card-title"><b style="margin-left: 84px; font-family: Montserrat;font-style: normal;
                font-weight: 600;font-size: 16px;">
                Open orders</b></h5>
              <p class="card-text">          <div class="glt">
                <div class="tgt" style='margin-left:83px;' >Time</div>
                <div class="tgt" style='margin-left:73px;'>Type / Side                </div>
                <div class="tgt"style='margin-left:73px;'>Price / quantity                </div>
                <div class="tgt"style='margin-left:73px;'>Total filled</div>
                <div class="tgt"style='margin-left:73px;'>Actions</div>
             
              </div></p>
              <img src="{% static 'img/nof.png' %}" class='wof' alt="">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card"  style="width: 509px;
          height: 262px; margin-left: 198px; margin-top: -120px;">
            <div class="card-body">
              <h5 class="card-title" style='font-family: Montserrat;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 48px;
              /* or 268% */
              margin-left: 60px;
              
              color: #000000;
              '>Last transactions
              </h5>
              <p class="card-text"style='font-family: Montserrat;
              font-style: normal;
              font-weight: 500;
              font-size: 15px;
              line-height: 48px;
              /* or 371% */
              
              margin-top:40px;
              color: #000000;
              text-align:center;
              opacity: 0.9;'>You haven't had any transactions yet!</p>
            </div>
          </div>
        </div>
      </div>  
      <div class="row" style="margin-top: 26px;">

        <div class="col-sm-6">
          <div class="card"  style="
          width: 509px;
          height: 205px;
margin-left: 858px;
margin-top: -232px;
">
            <div class="card-body">
              <h5 class="card-title" style='font-family: Montserrat;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 48px;
              /* or 268% */
              margin-left: 60px;
              
              color: #000000;
              '>Announcements
              </h5>
              <p class="card-text">
                <div class="anonce" style='margin-left: 60px; display: flex;'>
                  <div class="annc">Updated site design</div><div class="datan" style='margin-left: 130px;'>29-06-2021</div>
                </div>
                <div class="anonce" style='margin-left: 60px;margin-top: 13px; display: flex;'>
                  <div class="annc">Updated site design</div><div class="datan" style='margin-left: 130px;'>29-06-2021</div>
                </div>
              </p>
              
            </div>
          </div>
        </div>
      </div>  
      <div class="card" style="width: 1362px;
      height: 625px;">
        <div class="card-body">
          <div class="card-title"><b style="margin-left: 64px; font-family: Montserrat;font-style: normal;
            font-weight: 600;font-size: 15px;">
            Balance Details</b>
          <h6 class="card-subtitle " style='margin-top: 46px; margin-left: 64px; font-family: Montserrat;
          font-style: normal;          font-size: 15px;
          line-height: 22px;
          display: flex;
          
          
          color: #000000;
          '>You Earned<div class="nul" style='margin-top: 65px; margin-left: -83px;'>0</div> 
          
        <div style='          font-style: normal;          font-size: 15px;
        line-height: 22px;
        /* or 148% */
        margin-left: 130px;
        
        color: #000000;'>Total Number of Traded Friends
      <div class="nul">0</div>  
      </div>  
        <div style='          font-style: normal;          font-size: 15px;
                line-height: 22px;
                /* or 148% */
                margin-left: 130px;
                
                color: #000000;'>Total Number of Traded Friends
                <div class="nul">0</div> </div>  
         <div style='          font-style: normal;          font-size: 15px;
                        line-height: 22px;
                        /* or 148% */
                        margin-left: 130px;
                        
        color: #000000;'>Total Numbers of Friends
        <div class="nul">0</div> </div>  
        <div style='          font-style: normal;          font-size: 15px;
                 line-height: 24px;
                 /* or 148% */
                 margin-left: 130px;
                 
 color: #000000;'>Your Ranking<div class="nul">0</div>
</div>  
        </h6>
          <p class="card-text hhhh">* Data update time refers to UTC + 0 time zone. The data maintenance time is 3am - 5am (UTC+0) every day. During this period, the calculation of today's data is based on the assets of previous day. After maintenance, all data will be displayed properly
            * Statement: due to the complexity of financial data, there might be nuances and delay. Data displayed above is for reference only. We sincerely apologize for any inconvenience.</p>
          <p  class="card-text" style='margin-left: 63px; margin-top: 30px;'>Your Referral Links List</a>
          <div class="opaa">Remaining number of promotional links to be created: 19</div>
         
          <div class="glt">
          <div class="tgt">Referral ID</div>
          <div class="tgt">You Receive / Friends Receive</div>
          <div class="tgt">Note</div>
          <div class="tgt">Friends</div>
       
        </div>
        <div class="glt" style='    margin-top: 30px;'>
          <div class="tgt">195328711</div>
          <div class="tgt">20% / 0%</div>
          <div class="tgt" style='margin-left: 250px;'>-</div>
          <div class="tgt"  style='margin-left: 137px;'>0</div>
        </div>
        </div>
      </div>           
</div>

</div>
{% include 'main/component/footer_one.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>