{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butnute</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="//code-ya.jivosite.com/widget/86nectLQD6" async></script>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    {% include 'main/component/nav_fr.html' %}
      <div class="blocktwo">
          <div class="back" style="background-image: url({% static 'img/bitcoins.png' %})" >
              <div class="crypto">Acheter crypto-monnaie en quelques minutes avec <br>BUTNUTE<br>
            <div class="nid">Rejoignez le plus grand crypto-échange au monde</div>
                         <button class='registr' data-bs-toggle="modal" href="#exampleModalToggle" role="button">Enregistrement </button>
            </div>

        </div>
      </div>
      <div class="container">
          <div class="trad">Échangez facilement sur<br>Butnute 
            
        <div class="dn2">Négociez avec plus de 740 paires de trading crypto et Fiat différentes, y compris<br>Bitcoin, Ethereum et BNB. Obtenez une expérience de trading transparente<br>sur le plus grand échange de crypto-monnaie au monde en termes de volume de transactions.<br> notre système de conformité peut traiter jusqu'à 1,4 million de commandes<br> par seconde.
          
          <img src="{% static 'img/ill.png' %}" class='ill' alt="">
          
        </div>

        </div>
        <button class="startt">Commencez à trader</button>
      </div>

      <div class="container" >
        <div class="zag">&emsp;&emsp;Comment acheter crypto-monnaie en 4 étapes faciles</div>


        <div class="row" style="margin-top: 80px;justify-content: center;">
          <div class="card text-center" style="width: 16.79rem;">
            <div class="card-body">
              <img src="{% static 'img/g.png' %}" alt="">
              <h5 class="card-title">Étape 1</h5>
              <p class="card-text">Зарегистрируйтесь в BUTNUTE, сделайте свой первый шаг к торговле криптовалютами!</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem">
            <div class="card-body">
              <img src="{% static 'img/2g.png' %}" alt="">
              <h5 class="card-title">Étape 2</h5>
              <p class="card-text">Пройдите проверку личности, чтобы купить криптовалюту до 100 BTC</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem;">
            <div class="card-body">
              <img src="{% static 'img/3g.png' %}" alt="">
              <h5 class="card-title">Étape 3</h5>
              <p class="card-text">Покупайте криптовалюту или пополняйте свой баланс любым удобным способом</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem;">
            <div class="card-body">
              <img src="{% static 'img/4g.png' %}" alt="">
              <h5 class="card-title">Étape 4</h5>
              <p class="card-text">Maintenant, vous pouvez commencer à trader, nous vous recommandons de commencer avec le marché au comptant</p>

            </div>
          </div>
        </div>
      </div>
      <div class="container">
      <table class="table table-borderless" style="margin-top: 134px;">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Dernier prix</th>
            <th scope="col">Changements en 24 heures           </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Acheter</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Acheter</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Acheter</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Acheter</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Acheter</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="container" >
      <div class="zag">&emsp;&emsp;Commencez votre voyage dans le monde de la crypto-monnaie avec un partenaire de confiance</div>


      <div class="row" style="margin-top: 80px; justify-content: center">
        <div class="card text-center" style="width: 17.3rem;">
          <div class="card-body">
            <img src="{% static 'img/t.png' %}" alt="">
            <h5 class="card-title">Le commerce est devenu plus facile</h5>
            <p class="card-text">Achetez, vendez, gérez et négociez plus de 150 crypto-monnaies (y compris Bitcoin, BNB et Ethereum). Augmentez vos profits avec Burnute</p>

          </div>
        </div>
        <div class="card text-center" style="width: 17.3rem; ">
          <div class="card-body">
            <img src="{% static 'img/t2.png' %}" alt="">
            <h5 class="card-title">Les normes de sécurité les plus élevées</h5>
            <p class="card-text">Nos mesures de sécurité complètes et le fonds SAFU protègent vos données et vos actifs contre tous les risques.</p>

          </div>
        </div>
        <div class="card text-center" style="width: 17.3rem; ">
          <div class="card-body">
            <img src="{% static 'img/t3.png' %}" alt="">
            <h5 class="card-title">Processus de négociation pratique</h5>
            <p class="card-text">Nos commissions et notre programme VIP attrayant ont surpassé tous les concurrents. Profitez de certains des frais de transaction les plus bas dans la crypto-monnaie.</p>

          </div>
        </div>
        <div class="card text-center" style="width: 17.3rem; ">
          <div class="card-body">
            <img src="{% static 'img/t4.png' %}" alt="">
            <h5 class="card-title">Montant minimum des achats</h5>
            <p class="card-text">Avec Binance, vous pouvez acheter Bitcoin ou toute autre crypto-monnaie pour 15 $ ou plus. Utilisez votre carte de débit ou de crédit. Commencez à trader aujourd'hui.</p>

          </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-md  modal-lg modal-dialog-centered" >
        <div class="modal-content"style="background: #171C21;        ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel" style="font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 48px;
            /* or 134% */

            text-align: center;

            color: #FFFFFF;
            ">Entrez votre numéro de téléphone</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 40px;
          /* or 221% */
          margin-top: 30px;
          text-align: center;

          color: #FFFFFF;

          opacity: 0.7;
          ">
            Fournissez-nous votre numéro de téléphone afin que nous<br> ils pourraient vous envoyer un code de sécurité.
            <input class="form-control" type="text" placeholder="Number" value="+" style="width: 289px;
            height: 74px;background: #293139;font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #9C9C9C;

opacity: 0.29;
border-radius: 4px; margin-top: 69px;" aria-label="default input example">
<button  style='width: 309px;
height: 73.82px;
width: 289px;
margin-top: 46px;

background: #F7931A;
border-radius: 4px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #FFFFFF;
' data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Envoyer le code
</button>
          </div>

        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content"style="background: #171C21;        ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel" style="font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 48px;
            /* or 134% */
            
            text-align: center;
            
            color: #FFFFFF;

            ">Code envoyé avec succès</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 40px;
          /* or 221% */
          margin-top: 30px;
          text-align: center;
          
          color: #FFFFFF;
          
          opacity: 0.7;
          ">
            Entrez le code envoyé à votre numéro de téléphone. Le temps d'attente moyen est de 5 minutes.
            <input class="form-control" type="text" placeholder="Code" value="" style="width: 289px;
            height: 74px;background: #293139;font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #9C9C9C;

opacity: 0.29;
border-radius: 4px; margin-top: 69px;" aria-label="default input example">
<button  style='width: 309px;
height: 73.82px;
width: 289px;
margin-top: 46px;

background: #F7931A;
border-radius: 4px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #FFFFFF;
' data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Entrez le code</button><br>
<button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Retour au numéro</button>
</div>
          </div>

        </div>
      </div>
        </div>


      {% include 'main/component/footer_one.html' %}

    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
    </body>
</html>