{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item f">
                    <a class="nav-link " href="#">NFT</a>
                  </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Trade
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Buy cryptocurrency
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <a class="navbar-brand" href="#">
                <img src="{% static 'img/logo.jpg' %}" alt="" width="49" height="47" class="d-inline-block align-text-center">
                BUTNUTE
              </a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Derivatives
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Market
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <button class='light reg'> Registration </button>
              <li class="nav-item">
                <a class="nav-link " href="#">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="blocktwo">
          <div class="back">
              <img src="{% static 'img/bitcoins.png' %}" class="back2" alt="">
                    <div class="container">
              <div class="crypto">Buy cryptocurrency in minutes with <br>BUTNUTE<br>
            <div class="nid">Join the world's largest crypto exchange</div>
                <input class="inpnum" placeholder="phone number">              <button class='registr'> Registration </button>
            </div>

          </div>
        </div>
      </div>
      <div class="container">
          <div class="trad">Trade with ease on <br>the BUTNUTE spot market
            
        <div class="dn2">Trade with over 740 different crypto and fiat trading pairs, including <br>Bitcoin, Ethereum and BNB. Get the experience of seamless trading<br> on the world's largest cryptocurrency exchange by trading volume.<br> Our matching system is capable of processing up to 1.4 million orders<br> per second.
          
          <img src="{% static 'img/ill.png' %}" class='ill' alt="">
          
        </div>

        </div>
        <button class="startt">Start trading</button>
      </div>

      <div class="container" >
        <div class="zag">&emsp;&emsp;How to buy cryptocurrency in 4 easy steps</div>


        <div class="row" style="margin-top: 80px;">
          <div class="card text-center" style="width: 16.79rem;">
            <div class="card-body">
              <img src="{% static 'img/g.png' %}" alt="">
              <h5 class="card-title">Step 1</h5>
              <p class="card-text">Register at BUTNUTE, take your first step to cryptocurrency trading!</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem; margin-left: 80px;">
            <div class="card-body">
              <img src="{% static 'img/2g.png' %}" alt="">
              <h5 class="card-title">Step 2</h5>
              <p class="card-text">Go through identity verification to buy cryptocurrency up to 100 BTC</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem; margin-left: 80px;">
            <div class="card-body">
              <img src="{% static 'img/3g.png' %}" alt="">
              <h5 class="card-title">Step 3</h5>
              <p class="card-text">Buy cryptocurrency or top up your balance in any convenient way</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem; margin-left: 80px;">
            <div class="card-body">
              <img src="{% static 'img/4g.png' %}" alt="">
              <h5 class="card-title">Step 4</h5>
              <p class="card-text">Now you can start trading, we recommend starting with the spot market</p>

            </div>
          </div>
        </div>
      </div>
      <div class="container">
      <table class="table table-borderless" style="margin-top: 134px; margin-left: 80px;">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Last price</th>
            <th scope="col">Changes in 24h            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Buy</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Buy</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Buy</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Buy</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Buy</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>

      <div class="footer1" style='background-color:#171C21; height: 202px;'>
      <div class="strtr" style="text-align:center;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 30px;line-height: 48px;color: #FFFFFF; margin-top: 60px;">Start trading now</div>
      </div>
      <div class="footer2" style="height: 218px; background: #12161C;"></div>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>