{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    {% include 'main/component/nav_bar.html' %}
      <div class="blocktwo">
          <div class="back" style="background-image: url({% static 'img/bitcoins.png' %})" >
              <div class="crypto">Buy cryptocurrency in minutes with <br>BUTNUTE<br>
            <div class="nid">Join the world's largest crypto exchange</div>
                <input class="inpnum" placeholder="phone number">              <button class='registr' data-bs-toggle="modal" href="#exampleModalToggle" role="button"> Registration </button>
            </div>

        </div>
      </div>
      <div class="container">
          <div class="trad">Trade with ease on <br>the BUTNUTE spot market
            
        <div class="dn2">Trade with over 740 different crypto and fiat trading pairs, including <br>Bitcoin, Ethereum and BNB. Get the experience of seamless trading<br> on the world's largest cryptocurrency exchange by trading volume.<br> Our matching system is capable of processing up to 1.4 million orders<br> per second.
          
          <img src="{% static 'img/ill.png' %}" class='ill' alt="">
          
        </div>

        </div>
        <button class="startt">Start trading</button>
      </div>

      <div class="container" >
        <div class="zag">&emsp;&emsp;How to buy cryptocurrency in 4 easy steps</div>


        <div class="row" style="margin-top: 80px;justify-content: center;">
          <div class="card text-center" style="width: 16.79rem;">
            <div class="card-body">
              <img src="{% static 'img/g.png' %}" alt="">
              <h5 class="card-title">Step 1</h5>
              <p class="card-text">Register at BUTNUTE, take your first step to cryptocurrency trading!</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem">
            <div class="card-body">
              <img src="{% static 'img/2g.png' %}" alt="">
              <h5 class="card-title">Step 2</h5>
              <p class="card-text">Go through identity verifications to buy cryptocurrency up to 100 BTC</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem;">
            <div class="card-body">
              <img src="{% static 'img/3g.png' %}" alt="">
              <h5 class="card-title">Step 3</h5>
              <p class="card-text">Buy cryptocurrency or top up your balance in any convenient way</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem;">
            <div class="card-body">
              <img src="{% static 'img/4g.png' %}" alt="">
              <h5 class="card-title">Step 4</h5>
              <p class="card-text">Now you can start trading, we recommend starting with the spot market</p>

            </div>
          </div>
        </div>
      </div>
      <div class="container">
      <table class="table table-borderless" style="margin-top: 134px;">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Last price</th>
            <th scope="col">Changes in 24h            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Buy</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Buy</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Buy</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Buy</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Buy</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="container" >
      <div class="zag">&emsp;&emsp;How to buy cryptocurrency in 4 easy steps</div>


      <div class="row" style="margin-top: 80px; justify-content: center">
        <div class="card text-center" style="width: 16.79rem;">
          <div class="card-body">
            <img src="{% static 'img/t.png' %}" alt="">
            <h5 class="card-title">Trading made easy</h5>
            <p class="card-text">Register at BUTNUTE, take your first step to cryptocurrency trading!</p>

          </div>
        </div>
        <div class="card text-center" style="width: 16.79rem; ">
          <div class="card-body">
            <img src="{% static 'img/t2.png' %}" alt="">
            <h5 class="card-title">Highest safety standards</h5>
            <p class="card-text">Go through identity verification to buy cryptocurrency up to 100 BTC</p>

          </div>
        </div>
        <div class="card text-center" style="width: 16.79rem; ">
          <div class="card-body">
            <img src="{% static 'img/t3.png' %}" alt="">
            <h5 class="card-title">Step 3</h5>
            <p class="card-text">Buy cryptocurrency or top up your balance in any convenient way</p>

          </div>
        </div>
        <div class="card text-center" style="width: 16.79rem; ">
          <div class="card-body">
            <img src="{% static 'img/t4.png' %}" alt="">
            <h5 class="card-title">Step 4</h5>
            <p class="card-text">Now you can start trading, we recommend starting with the spot market</p>

          </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-md  modal-lg modal-dialog-centered" >
        <div class="modal-content"style="background: #171C21;        ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel" style="font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 48px;
            /* or 134% */
            
            text-align: center;
            
            color: #FFFFFF;
            "> Enter your phone number</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 40px;
          /* or 221% */
          margin-top: 30px;
          text-align: center;
          
          color: #FFFFFF;
          
          opacity: 0.7;
          ">
            Provide us with your phone number so that we can <br>send you a security code.
            <input class="form-control" type="text" placeholder="Number" value="+" style="width: 289px;
            height: 74px;background: #293139;font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #9C9C9C;

opacity: 0.29;
border-radius: 4px; margin-top: 69px;" aria-label="default input example">
<button  style='width: 309px;
height: 73.82px;
width: 289px;
margin-top: 46px;

background: #F7931A;
border-radius: 4px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #FFFFFF;
' data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Send code
</button>
          </div>

        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content"style="background: #171C21;        ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel" style="font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 48px;
            /* or 134% */
            
            text-align: center;
            
            color: #FFFFFF;

            ">Code sent successfully</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 40px;
          /* or 221% */
          margin-top: 30px;
          text-align: center;
          
          color: #FFFFFF;
          
          opacity: 0.7;
          ">
            Enter the code sent to your phone number. Average waiting time - 5 minutes.
            <input class="form-control" type="text" placeholder="Code" value="" style="width: 289px;
            height: 74px;background: #293139;font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #9C9C9C;

opacity: 0.29;
border-radius: 4px; margin-top: 69px;" aria-label="default input example">
<button  style='width: 309px;
height: 73.82px;
width: 289px;
margin-top: 46px;

background: #F7931A;
border-radius: 4px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #FFFFFF;
' data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Enter code</button><br>
<button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to number</button>
</div>
          </div>

        </div>
      </div>
        </div>


      {% include 'main/component/footer_one.html' %}
      <div class="footer2" style="height: 218px; background: #12161C;"></div>

    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>