{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butnute</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="//code-ya.jivosite.com/widget/86nectLQD6" async></script>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    {% include 'main/component/nav_pl.html' %}
      <div class="blocktwo">
          <div class="back" style="background-image: url({% static 'img/bitcoins.png' %})" >
              <div class="crypto">Kup kryptowalutę w kilka minut za pomocą<br>BUTNUTE<br>
            <div class="nid">Dołącz do największej na świecie giełdy kryptograficznej</div>
                          <button class='registr' data-bs-toggle="modal" href="#exampleModalToggle" role="button"> Rejestracja </button>
            </div>

        </div>
      </div>
      <div class="container">
          <div class="trad">Handluj z łatwością <br>Na Butnute 
            
        <div class="dn2">Handluj z ponad 740 różnymi parami handlu kryptograficznego i fiducjarnego,w tym <br>Bitcoin, Ethereum i BNB. Zdobądź doświadczenie w płynnym handlu<br> na największej na świecie giełdzie kryptowalut pod względem wolumenu obrotu.<br> nasz system dopasowywania jest w stanie obsłużyć do 1,4 miliona zamówień<br> na sekundę.
          
          <img src="{% static 'img/ill.png' %}" class='ill' alt="">
          
        </div>

        </div>
        <button class="startt">Zacznij handlować</button>
      </div>

      <div class="container" >
        <div class="zag">&emsp;&emsp;Jak kupić kryptowalutę w 4 prostych krokach</div>


        <div class="row" style="margin-top: 80px;justify-content: center;">
          <div class="card text-center" style="width: 16.79rem;">
            <div class="card-body">
              <img src="{% static 'img/g.png' %}" alt="">
              <h5 class="card-title">Krok 1</h5>
              <p class="card-text">Zarejestruj się w BUTNUTE, zrób pierwszy krok w kierunku handlu kryptowalutami!</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem">
            <div class="card-body">
              <img src="{% static 'img/2g.png' %}" alt="">
              <h5 class="card-title">Krok 2</h5>
              <p class="card-text">Przeprowadź weryfikację tożsamości, aby kupić kryptowalutę do 100 BTC</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem;">
            <div class="card-body">
              <img src="{% static 'img/3g.png' %}" alt="">
              <h5 class="card-title">Krok 3</h5>
              <p class="card-text">Kup kryptowalutę lub uzupełnij saldo w dowolny dogodny sposób</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem;">
            <div class="card-body">
              <img src="{% static 'img/4g.png' %}" alt="">
              <h5 class="card-title">Krok 4</h5>
              <p class="card-text">Teraz możesz rozpocząć handel, zalecamy rozpoczęcie od rynku kasowego</p>

            </div>
          </div>
        </div>
      </div>
      <div class="container">
      <table class="table table-borderless" style="margin-top: 134px;">
        <thead>
          <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Ostatnia cena</th>
            <th scope="col">Zmiany w 24 godziny</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Kupić</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Kupić</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Kupić</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Kupić</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Kupić</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="container" >
      <div class="zag">&emsp;&emsp;Jak kupić kryptowalutę w 4 prostych krokach</div>


      <div class="row" style="margin-top: 80px; justify-content: center">
        <div class="card text-center" style="width: 17.3rem;">
          <div class="card-body">
            <img src="{% static 'img/t.png' %}" alt="">
            <h5 class="card-title">Handel stał się łatwiejszy</h5>
            <p class="card-text">Kupuj, sprzedawaj, zarządzaj i handluj ponad 150 kryptowalutami (w tym Bitcoin, Bnb i Ethereum). Zwiększ swoje zyski dzięki Burnute</p>

          </div>
        </div>
        <div class="card text-center" style="width: 17.3rem; ">
          <div class="card-body">
            <img src="{% static 'img/t2.png' %}" alt="">
            <h5 class="card-title">Najwyższe standardy bezpieczeństwa</h5>
            <p class="card-text">Nasze kompleksowe środki bezpieczeństwa i Fundusz SAFU chronią Twoje dane i aktywa przed wszelkimi zagrożeniami.</p>

          </div>
        </div>
        <div class="card text-center" style="width: 17.3rem; ">
          <div class="card-body">
            <img src="{% static 'img/t3.png' %}" alt="">
            <h5 class="card-title">Wygodny proces handlowy</h5>
            <p class="card-text">Nasze prowizje i atrakcyjny program VIP wyprzedziły wszystkich konkurentów. Ciesz się jednymi z najniższych opłat transakcyjnych w kryptowalutach.</p>

          </div>
        </div>
        <div class="card text-center" style="width: 17.3rem; ">
          <div class="card-body">
            <img src="{% static 'img/t4.png' %}" alt="">
            <h5 class="card-title">Minimalne kwoty zakupów</h5>
            <p class="card-text">Dzięki Binance możesz kupić Bitcoin lub dowolną inną kryptowalutę za 15 USD lub więcej. Użyj karty debetowej lub kredytowej. Zacznij handlować już dziś.</p>

          </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-md  modal-lg modal-dialog-centered" >
        <div class="modal-content"style="background: #171C21;        ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel" style="font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 48px;
            /* or 134% */

            text-align: center;

            color: #FFFFFF;
            "> Wpisz swój numer telefonu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 40px;
          /* or 221% */
          margin-top: 30px;
          text-align: center;

          color: #FFFFFF;

          opacity: 0.7;
          ">
            Podaj nam swój numer telefonu, abyśmy<br> mogli wysłać Ci kod bezpieczeństwa.
            <input class="form-control" type="text" placeholder="Number" value="+" style="width: 289px;
            height: 74px;background: #293139;font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #9C9C9C;

opacity: 0.29;
border-radius: 4px; margin-top: 69px;" aria-label="default input example">
<button  style='width: 309px;
height: 73.82px;
width: 289px;
margin-top: 46px;

background: #F7931A;
border-radius: 4px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #FFFFFF;
' data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Wyślij kod
</button>
          </div>

        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content"style="background: #171C21;        ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel" style="font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 48px;
            /* or 134% */
            
            text-align: center;
            
            color: #FFFFFF;

            ">Kod został pomyślnie wysłany</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 40px;
          /* or 221% */
          margin-top: 30px;
          text-align: center;
          
          color: #FFFFFF;
          
          opacity: 0.7;
          ">
            Wprowadź kod wysłany na swój numer telefonu. Średni czas oczekiwania wynosi 5 minut.
            <input class="form-control" type="text" placeholder="Code" value="" style="width: 289px;
            height: 74px;background: #293139;font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #9C9C9C;

opacity: 0.29;
border-radius: 4px; margin-top: 69px;" aria-label="default input example">
<button  style='width: 309px;
height: 73.82px;
width: 289px;
margin-top: 46px;

background: #F7931A;
border-radius: 4px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #FFFFFF;
' data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Введите код</button><br>
<button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Вернемся к номеру</button>
</div>
          </div>

        </div>
      </div>
        </div>


      {% include 'main/component/footer_one.html' %}


    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>