{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butnute</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="//code-ya.jivosite.com/widget/86nectLQD6" async></script>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    {% include 'main/component/nav_ru.html' %}
      <div class="blocktwo">
          <div class="back" style="background-image: url({% static 'img/bitcoins.png' %})" >
              <div class="crypto">Покупайте криптовалюту за считанные минуты с помощью <br>BUTNUTE<br>
            <div class="nid">Присоединяйтесь к крупнейшей в мире криптобирже</div>
                <input class="inpnum" placeholder="Номер телефона">              <button class='registr' data-bs-toggle="modal" href="#exampleModalToggle" role="button"> Регистрация </button>
            </div>

        </div>
      </div>
      <div class="container">
          <div class="trad">Торгуйте с легкостью <br>На Butnute 
            
        <div class="dn2">Торгуйте с более чем 740 различными крипто-и фиатными торговыми парами, включая<br>Биткойн, Эфириум и BNB. Получите опыт бесшовной торговли<br>на крупнейшей в мире криптовалютной бирже по объему торгов.<br> Наша система подбора соответствия способна обрабатывать до 1,4 миллиона заказов<br> в секунду.
          
          <img src="{% static 'img/ill.png' %}" class='ill' alt="">
          
        </div>

        </div>
        <button class="startt">Начните торговать</button>
      </div>

      <div class="container" >
        <div class="zag">&emsp;&emsp;Как купить криптовалюту в 4 простых шага</div>


        <div class="row" style="margin-top: 80px;justify-content: center;">
          <div class="card text-center" style="width: 16.79rem;">
            <div class="card-body">
              <img src="{% static 'img/g.png' %}" alt="">
              <h5 class="card-title">Шаг 1</h5>
              <p class="card-text">Зарегистрируйтесь в BUTNUTE, сделайте свой первый шаг к торговле криптовалютами!</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem">
            <div class="card-body">
              <img src="{% static 'img/2g.png' %}" alt="">
              <h5 class="card-title">Шаг 2</h5>
              <p class="card-text">Пройдите проверку личности, чтобы купить криптовалюту до 100 BTC</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem;">
            <div class="card-body">
              <img src="{% static 'img/3g.png' %}" alt="">
              <h5 class="card-title">Шаг 3</h5>
              <p class="card-text">Покупайте криптовалюту или пополняйте свой баланс любым удобным способом</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem;">
            <div class="card-body">
              <img src="{% static 'img/4g.png' %}" alt="">
              <h5 class="card-title">Шаг 4</h5>
              <p class="card-text">Теперь вы можете начать торговать, мы рекомендуем начать со спотового рынка</p>

            </div>
          </div>
        </div>
      </div>
      <div class="container">
      <table class="table table-borderless" style="margin-top: 134px;">
        <thead>
          <tr>
            <th scope="col">Название</th>
            <th scope="col">Последняя цена</th>
            <th scope="col">Изменения за 24 часа           </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Купить</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Купить</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Купить</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Купить</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Купить</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="container" >
      <div class="zag">&emsp;&emsp;How to buy cryptocurrency in 4 easy steps</div>


      <div class="row" style="margin-top: 80px; justify-content: center">
        <div class="card text-center" style="width: 17.3rem;">
          <div class="card-body">
            <img src="{% static 'img/t.png' %}" alt="">
            <h5 class="card-title">Торговля стала проще</h5>
            <p class="card-text">Покупайте, продавайте, управляйте и торгуйте более чем 150 криптовалютами (включая биткоин, BNB и Ethereum). Увеличьте свою прибыль с помощью Burnute</p>

          </div>
        </div>
        <div class="card text-center" style="width: 17.3rem; ">
          <div class="card-body">
            <img src="{% static 'img/t2.png' %}" alt="">
            <h5 class="card-title">Самые высокие стандарты безопасности</h5>
            <p class="card-text">Наши комплексные меры безопасности и Фонд SAFU защищают ваши данные и активы от всех рисков.</p>

          </div>
        </div>
        <div class="card text-center" style="width: 17.3rem; ">
          <div class="card-body">
            <img src="{% static 'img/t3.png' %}" alt="">
            <h5 class="card-title">Удобный торговый процесс</h5>
            <p class="card-text">Наши комиссионные и привлекательная VIP-программа превзошли всех конкурентов. Наслаждайтесь одними из самых низких комиссий за транзакции в криптовалюте.</p>

          </div>
        </div>
        <div class="card text-center" style="width: 17.3rem; ">
          <div class="card-body">
            <img src="{% static 'img/t4.png' %}" alt="">
            <h5 class="card-title">Минимальные суммы покупок</h5>
            <p class="card-text">С помощью Binance вы можете купить биткоин или любую другую криптовалюту за 15 долларов и более. Используйте свою дебетовую или кредитную карту. Начните торговать сегодня.</p>

          </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-md  modal-lg modal-dialog-centered" >
        <div class="modal-content"style="background: #171C21;        ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel" style="font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 48px;
            /* or 134% */

            text-align: center;

            color: #FFFFFF;
            "> Введите свой номер телефона</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 40px;
          /* or 221% */
          margin-top: 30px;
          text-align: center;

          color: #FFFFFF;

          opacity: 0.7;
          ">
            Предоставьте нам свой номер телефона, чтобы мы<br> могли отправить вам код безопасности.
            <input class="form-control" type="text" placeholder="Number" value="+" style="width: 289px;
            height: 74px;background: #293139;font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #9C9C9C;

opacity: 0.29;
border-radius: 4px; margin-top: 69px;" aria-label="default input example">
<button  style='width: 309px;
height: 73.82px;
width: 289px;
margin-top: 46px;

background: #F7931A;
border-radius: 4px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #FFFFFF;
' data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Send code
</button>
          </div>

        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content"style="background: #171C21;        ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel" style="font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 48px;
            /* or 134% */
            
            text-align: center;
            
            color: #FFFFFF;

            ">Код успешно отправлен</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 40px;
          /* or 221% */
          margin-top: 30px;
          text-align: center;
          
          color: #FFFFFF;
          
          opacity: 0.7;
          ">
            Введите код, отправленный на ваш номер телефона. Среднее время ожидания - 5 минут.
            <input class="form-control" type="text" placeholder="Code" value="" style="width: 289px;
            height: 74px;background: #293139;font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #9C9C9C;

opacity: 0.29;
border-radius: 4px; margin-top: 69px;" aria-label="default input example">
<button  style='width: 309px;
height: 73.82px;
width: 289px;
margin-top: 46px;

background: #F7931A;
border-radius: 4px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #FFFFFF;
' data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Введите код</button><br>
<button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Вернемся к номеру</button>
</div>
          </div>

        </div>
      </div>
        </div>


      {% include 'main/component/footer_one.html' %}
      <div class="footer2" style="height: 218px; background: #12161C;"></div>

    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>