{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butnute</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="//code-ya.jivosite.com/widget/86nectLQD6" async></script>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    {% include 'main/component/nav_tr.html' %}
      <div class="blocktwo">
          <div class="back" style="background-image: url({% static 'img/bitcoins.png' %})" >
              <div class="crypto">Birkaç dakika içinde cryptocurrency satın alın <br>BUTNUTE<br>
            <div class="nid">Dünyanın en büyük kripto değişimine katılın</div>
                             <button class='registr' data-bs-toggle="modal" href="#exampleModalToggle" role="button"> Регистрация </button>
            </div>

        </div>
      </div>
      <div class="container">
          <div class="trad">Kolaylıkla ticaret <br>Butnute Üzerinde
            
        <div class="dn2">Dahil olmak üzere 740'dan fazla farklı kripto ve Fiat ticaret çiftiyle ticaret yapın<br>Bitcoin, Ethereum ve BNB. Sorunsuz ticaret deneyimi yaşayın<br>ticaret hacmine göre dünyanın en büyük kripto para birimi değişiminde.<br> Eşleştirme seçim sistemimiz 1,4 milyon siparişe kadar işleme kapasitesine sahiptir<br>saniyede.
          
          <img src="{% static 'img/ill.png' %}" class='ill' alt="">
          
        </div>

        </div>
        <button class="startt">Ticarete başla</button>
      </div>

      <div class="container" >
        <div class="zag">&emsp;&emsp;4 kolay adımda cryptocurrency Nasıl Satın Alınır</div>


        <div class="row" style="margin-top: 80px;justify-content: center;">
          <div class="card text-center" style="width: 16.79rem;">
            <div class="card-body">
              <img src="{% static 'img/g.png' %}" alt="">
              <h5 class="card-title">Adım 1</h5>
              <p class="card-text">BUTNUTE'A kaydolun, kripto para birimi ticaretine doğru ilk adımınızı atın!</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem">
            <div class="card-body">
              <img src="{% static 'img/2g.png' %}" alt="">
              <h5 class="card-title">Adım 2</h5>
              <p class="card-text">100 BTC'YE kadar kripto para birimi satın almak için kimlik kontrolünden geçin</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem;">
            <div class="card-body">
              <img src="{% static 'img/3g.png' %}" alt="">
              <h5 class="card-title">Adım 3</h5>
              <p class="card-text">Kripto para birimini satın alın veya bakiyenizi uygun bir şekilde yenileyin</p>

            </div>
          </div>
          <div class="card text-center" style="width: 16.79rem;">
            <div class="card-body">
              <img src="{% static 'img/4g.png' %}" alt="">
              <h5 class="card-title">Adım 4</h5>
              <p class="card-text">Şimdi ticarete başlayabilirsiniz, spot piyasadan başlamanızı öneririz</p>

            </div>
          </div>
        </div>
      </div>
      <div class="container">
      <table class="table table-borderless" style="margin-top: 134px;">
        <thead>
          <tr>
            <th scope="col">Ad</th>
            <th scope="col">Son fiyat</th>
            <th scope="col">24 saat içinde değişiklikler          </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Almak</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Almak</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Almak</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Almak</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="{% static 'img/btc.png' %}" alt=""> &emsp;BTC <font color="gray"> Bitcoin</font></th>
            <td>₽2 519 336.00</td>
            <td ><font color="#4CCD89;">+4,61%</font></td>
            <td><button class='btn btn-warning'>Almak</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="container" >
      <div class="zag">&emsp;&emsp;4 kolay adımda cryptocurrency Nasıl Satın Alınır</div>


      <div class="row" style="margin-top: 80px; justify-content: center">
        <div class="card text-center" style="width: 17.3rem;">
          <div class="card-body">
            <img src="{% static 'img/t.png' %}" alt="">
            <h5 class="card-title">Ticaret kolaylaştı</h5>
            <p class="card-text">150'den fazla kripto para birimini (bitcoin, BNB ve Ethereum dahil) satın alın, satın, yönetin ve ticaret yapın. Butnute ile karınızı artırın</p>

          </div>
        </div>
        <div class="card text-center" style="width: 17.3rem; ">
          <div class="card-body">
            <img src="{% static 'img/t2.png' %}" alt="">
            <h5 class="card-title">En yüksek güvenlik standartları</h5>
            <p class="card-text">Kapsamlı güvenlik önlemlerimiz ve Safu Fonu, verilerinizi ve varlıklarınızı tüm risklerden korur.</p>

          </div>
        </div>
        <div class="card text-center" style="width: 17.3rem; ">
          <div class="card-body">
            <img src="{% static 'img/t3.png' %}" alt="">
            <h5 class="card-title">Uygun ticaret süreci</h5>
            <p class="card-text">Komisyonlarımız ve çekici VIP programımız tüm rakipleri aştı. En düşük cryptocurrency işlem ücretlerinden bazılarının tadını çıkarın.</p>

          </div>
        </div>
        <div class="card text-center" style="width: 17.3rem; ">
          <div class="card-body">
            <img src="{% static 'img/t4.png' %}" alt="">
            <h5 class="card-title">Minimum satın alma tutarları</h5>
            <p class="card-text">Binance ile bitcoin veya 15 dolar veya daha fazla başka bir kripto para birimi satın alabilirsiniz. Banka veya kredi kartınızı kullanın. Bugün ticarete başlayın.</p>

          </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-md  modal-lg modal-dialog-centered" >
        <div class="modal-content"style="background: #171C21;        ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel" style="font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 48px;
            /* or 134% */

            text-align: center;

            color: #FFFFFF;
            "> Telefon numaranızı girin</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 40px;
          /* or 221% */
          margin-top: 30px;
          text-align: center;

          color: #FFFFFF;

          opacity: 0.7;
          ">
            Bize telefon numaranızı verin, böylece size<br> bir güvenlik kodu gönderebiliriz.
            <input class="form-control" type="text" placeholder="Number" value="+" style="width: 289px;
            height: 74px;background: #293139;font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #9C9C9C;

opacity: 0.29;
border-radius: 4px; margin-top: 69px;" aria-label="default input example">
<button  style='width: 309px;
height: 73.82px;
width: 289px;
margin-top: 46px;

background: #F7931A;
border-radius: 4px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #FFFFFF;
' data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Send code
</button>
          </div>

        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content"style="background: #171C21;        ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel" style="font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 48px;
            /* or 134% */
            
            text-align: center;
            
            color: #FFFFFF;

            ">Kod başarıyla gönderildi</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 40px;
          /* or 221% */
          margin-top: 30px;
          text-align: center;
          
          color: #FFFFFF;
          
          opacity: 0.7;
          ">
            Telefon numaranıza gönderilen kodu girin. Ortalama bekleme süresi 5 dakikadır.
            <input class="form-control" type="text" placeholder="Code" value="" style="width: 289px;
            height: 74px;background: #293139;font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #9C9C9C;

opacity: 0.29;
border-radius: 4px; margin-top: 69px;" aria-label="default input example">
<button  style='width: 309px;
height: 73.82px;
width: 289px;
margin-top: 46px;

background: #F7931A;
border-radius: 4px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 22px;
/* or 93% */


color: #FFFFFF;
' data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Kodu girin</button><br>
<button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Numaraya geri dön</button>
</div>
          </div>

        </div>
      </div>
        </div>


      {% include 'main/component/footer_one.html' %}


    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
    </body>
</html>