.nav-item{
    margin-left: 25px;
    margin-top: 8px;
}
.nav-link{
    margin-left: 25px;
}
.navbar-brand{
    margin-left: 90px;
}
.reg{
    width: 140px;
    margin-left: 47px;
    height: 45px;
    margin-top: 8px;
    background: #F7931A;
border-radius: 5px;
}
.f{
    margin-left: 60px;
}
.back{
    width: 1920px;
    height:442px;
    background-color:#171C21;
    position: relative;
}
.back2{
    position: absolute;
    top: -61px;
}
.crypto{
    position: absolute;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 48px;
/* or 161% */

text-align: center;

color: #FFFFFF;
left: 686px;
top: 120px;
}
.blocktwo{
    display: relative;

}
.nid{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 48px;
/* or 268% */


color: #FFFFFF;

opacity: 0.5;
}
.inpnum{
    width: 247px;
    height: 57px;
    background: #FFFFFF;
border-radius: 98px;
}
.registr{
    background: #F7931A;
border-radius: 96px;
width: 235px;
height: 57px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 22px;
/* or 148% */


color: #FFFFFF;

text-align: center;
}