.nav-item{
    margin-left: 25px;
    margin-top: 8px;
}
.nav-link{
    margin-left: 25px;
}
.navbar-brand{
    margin-left: 90px;
}
.reg{
    width: 140px;
    margin-left: 47px;
    height: 45px;
    margin-top: 8px;
    background: #F7931A;
border-radius: 5px;
}
.f{
    margin-left: 60px;
}
.back{
    width: 1864px;
    height:492px;
    background-color:#171C21;
    position: relative;
}
.back2{
    position: absolute;
    top: -10px;
}
.crypto{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 48px;
/* or 161% */

text-align: center;

color: #FFFFFF;
left: 686px;
top: 120px;
}
.blocktwo{
    display: relative;

}
.nid{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 48px;
/* or 268% */


color: #FFFFFF;

opacity: 0.5;
}
.inpnum{
    width: 247px;
    height: 57px;
    background: #FFFFFF;
border-radius: 98px;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
/* or 148% */


color: #C6C6C6;

}
.registr{
    background: #F7931A;
border-radius: 96px;
width: 235px;
height: 57px;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 22px;
/* or 148% */


color: #FFFFFF;

text-align: center;
}
.trad{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 40px;
    /* or 133% */
margin-top: 184px;
    
color: #1E2329;
    
}
.dn2{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
/* or 179% */


color: #1E2329;

opacity: 0.7;
margin-top: 24px;
display: flex;
}
.ill{
    margin-left: 109px;
    height: 450px;
    width: 650px;
    margin-top: -150px;
}
.startt{
    position: absolute;
    background-color: white;
    border: 2px solid #F7931A;
box-sizing: border-box;
border-radius: 79px;
width: 183px;
height: 52px;
top: 1114px;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 48px;
/* or 345% */


color: #F7931A;

}
.zag{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 48px;
/* or 161% */


color: #1E2329;
margin-top: 140px;

}
table{
    -webkit-box-shadow: -9px 6px 15px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: -9px 6px 15px 0px rgba(34, 60, 80, 0.2);
box-shadow: -9px 6px 15px 0px rgba(34, 60, 80, 0.2);
}
