.nav-item{
    margin-left: 25px;
    margin-top: 8px;
}
.nav-link{
    margin-left: 25px;
}
.navbar-brand{
    margin-left: 90px;
}
.reg{
    width: 140px;
    margin-left: 47px;
    height: 45px;
    margin-top: 8px;
    background: #F7931A;
border-radius: 5px;
}
.f{
    margin-left: 60px;
}
.back{
    width: 1920px;
    height:442px;
    background-color:#171C21;
    position: relative;
}
.back2{
    position: absolute;
    top: -61px;
}